                <!--To include logo in the header-->
          <ion-view view-title="" class="back">
              <ion-nav-bar  align-title="center">

                  <ion-nav-back-button class="button-icon ion-arrow-left-c" ng-click="redirecttohome()">
                  </ion-nav-back-button>
              </ion-nav-bar>
              <ion-nav-buttons side="right">
                  <img class="title-image" src="img/muhafiz_logo.png" />
              </ion-nav-buttons>

              <!--To include title in the header-->
              <ion-header-bar class="bar-royal">
                  <h1 class="title" style="text-align:center">Log In</h1>
              </ion-header-bar>
              <ion-content class="padding">
                  <form  name="myForm" novalidate>

                  <div class="list list-inset">
                      <!-------Email Field------------------>
                      <label>{{data.labels.label_EmailAddress}}</label>
					  <label class="item item-input">
                          <input type="email" name="emailid" ng-model="data.emailid" required>
                      </label>
                      <!-------for validation purpose-------->
                      <span style="color:red" ng-show="myForm.emailid.$dirty && myForm.emailid.$invalid">
                          <span ng-show="myForm.emailid.$error.required">Email is required.</span>
                          <span ng-show="myForm.emailid.$error.email">Invalid email address.</span>
                      </span>
                      <br />
                      <br />
                      <!-------Password Field------------------>
                       <label>{{data.labels.label_password}}</label>
					   <label class="item item-input">
                          <input type="password" name="Password" ng-model="data.password" required>
                      </label>
                      <!-------for validation purpose-------->
                      <span style="color:red" ng-show="myForm.Password.$dirty && myForm.Password.$invalid">
                          <span ng-show="myForm.Password.$error.required">Password is required.</span>

                      </span>
                      
                  </div>
                  <button class="button button-block button-royal" ng-click="login()" ng-disabled="myForm.$invalid">Log In</button>
                  </form>
              </ion-content>

          </ion-view>

